.container {
  min-height: 100vh;
  padding: 0;
  background-image: url('/background.png');
}

.main {
  padding: 0;
  width: 100%;
}

// Hero

.hero {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 35%;

  @media screen and (max-width: 660px) {
    padding-top: 40%;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(#5A193E, 0.1);
    object-fit: cover;
    z-index: 1;
  }
}

.heroImage {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  object-fit: cover;
}

.heroText {
  display: flex;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  padding-left: 48px;
  padding-right: 48px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
  z-index: 5;

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logo {
  width: 11vw;
  margin-right: 3.2vw;

  @media screen and (max-width: 420px) {
    width: 46px;
    margin-right: 13px;
  }

  @media screen and (min-width: 1281px) {
    width: 140px;
    margin-right: 42px;
  }
}

.heading {
  margin: 0;
  color: #fff;
  font-size: responsive 2.25rem 6rem;
  font-variant: small-caps;
}

// Content

.contentWrapper {
  padding: 0 24px 100px;

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}

.content {
  position: relative;
  max-width: 800px;
  margin: -12vw auto 0;
  padding: 42px 48px 42px;
  border-radius: 8px;
  background-color: #fff4c3;
  font-size: responsive 1.2rem 1.5rem;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.06);
  z-index: 5;

  @media screen and (min-width: 481px) and (max-width: 660px) {
    padding: 36px 40px 36px;
  }

  @media screen and (max-width: 480px) {
    padding: 24px 28px 24px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.contentSection {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid #e7dcb7;

  @media screen and (max-width: 660px) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
